extends layout/main
block variables
	- var pageTitle = 'Новости'
	- var crumbs = [{link: 'index.html', name: 'Главная'}, {name: 'Новости', last: true}]
block content
	main
		section.section.news
			.container
				h2.section__title.news__title Новости
					.flex
						button.news__button#square-button.active
							include img/blocks.svg
						button.news__button#list-button
							include img/list.svg
				.news__cards
					.news__card.card
						.card__image
							img(src=require("./img/news/news1.jpg").default, alt="photo")
						div
							a(href="article.html")
								h3.card__title Де Врей может пропустить до 2 месяцев
							p.card__text.
								Сообщается, что на одной из последних тренировок римлян голландец 
								серьезно повредил правый голеностоп — врачи обнаружили у него сильный 
								кровоподтек в районе пятой... 
								Сообщается, что на одной из последних тренировок римлян голландец 
								серьезно повредил правый голеностоп — врачи обнаружили у него сильный 
								кровоподтек в районе пятой...Сообщается, что на одной из последних 
								тренировок римлян голландец серьезно повредил правый голеностоп — 
								врачи обнаружили у него сильный кровоподтек в районе пятой...
							span.card__date 12.08.2106г.
					.news__card.card
						.card__image
							img(src=require("./img/news/news2.jpg").default, alt="photo")
						div
							a(href="article.html")
								h3.card__title Сельта — Аякс 2:2
							p.card__text.
								Представляем вашему вниманию видеообзор поединка 3-го тура группового 
								раунда Лиги Европы между испанской Сельтой и голландским Аяксом. 
								Представляем вашему вниманию видеообзор поединка 3-го тура группового 
								раунда Лиги Европы между испанской Сельтой и голландским Аяксом. 
								Представляем вашему вниманию видеообзор поединка 3-го тура группового 
								раунда Лиги Европы между испанской Сельтой и голландским Аяксом.
							span.card__date 12.08.2106г.
					.news__card.card
						.card__image
							img(src=require("./img/news/news3.jpg").default, alt="photo")
						div
							a(href="article.html")
								h3.card__title Командные и индивидуальные действия киевского "Динамо"
							p.card__text.
								Второе домашнее поражение "Динамо" оказалось достаточно противоречивым. 
								Многие статистические показатели киевлян превзошли...
								Второе домашнее поражение "Динамо" оказалось достаточно противоречивым. 
								Многие статистические показатели киевлян превзошли...
								Второе домашнее поражение "Динамо" оказалось достаточно противоречивым. 
								Многие статистические показатели киевлян превзошли...
							span.card__date 12.08.2106г.
					.news__card.card
						.card__image
							img(src=require("./img/news/news4.jpg").default, alt="photo")
						div
							a(href="article.html")
								h3.card__title Манчестер Юнайтед выходит на первое место в группе А
							p.card__text.
								Игра на Олд Траффорд выдалась крайне интересной. Жозе Моуриньо со 
								старта выпустил на поле Уэйна Руни, оставив вне заявки Златана 
								Ибрахимовича Игра на Олд Траффорд выдалась крайне интересной. 
								Жозе Моуриньо со старта выпустил на поле Уэйна Руни, оставив 
								вне заявки Златана Ибрахимовича Игра на Олд Траффорд выдалась 
								крайне интересной. Жозе Моуриньо со старта выпустил на поле Уэйна 
								Руни, оставив вне заявки Златана Ибрахимовича 
							span.card__date 12.08.2106г.
					.news__card.card
						.card__image
							img(src=require("./img/news/news5.jpg").default, alt="photo")
						div
							a(href="article.html")
								h3.card__title Коноплянка забил первый гол за "Шальке"
							p.card__text.
								Украинец вышел в стартовом составе "Шальке" на матч против "Краснодара". 
								Евгений забил на 10-й минуте матча, когда с линии штрафной удачно 
								приложился к мячу....Украинец вышел в стартовом составе "Шальке" на 
								матч против "Краснодара". Евгений забил на 10-й минуте матча, когда 
								с линии штрафной удачно приложился к мячу....Украинец вышел в стартовом 
								составе "Шальке" на матч против "Краснодара". Евгений забил на 10-й 
								минуте матча, когда с линии штрафной удачно приложился к мячу....
							span.card__date 12.08.2106г.
					.news__card.card
						.card__image
							img(src=require("./img/news/news6.jpg").default, alt="photo")
						div
							a(href="article.html")
								h3.card__title Пятов: Не думаем о втором матче с "Гентом"
							p.card__text.
								Представляем вашему вниманию видеообзор поединка 3-го тура группового 
								раунда Лиги Европы между испанской Сельтой и голландским Аяксом. 
								Представляем вашему вниманию видеообзор поединка 3-го тура группового 
								раунда Лиги Европы между испанской Сельтой и голландским Аяксом. 
								Представляем вашему вниманию видеообзор поединка 3-го тура группового 
								раунда Лиги Европы между испанской Сельтой и голландским Аяксом.
							span.card__date 12.08.2106г.
					.news__card.card
						.card__image
							img(src=require("./img/news/news7.jpg").default, alt="photo")
						div
							a(href="article.html")
								h3.card__title Очаровательные любимые и сестры звезд "Стали"
							p.card__text.
								В мероприятии "Сталь, нам нужны твои победы!" приняли участие Надежда 
								Панькив, Наталья Ищенко, Ирина Воронина, Татьяна Довгая, Ольга Каленчук, 
								а также девушка Романа Дебелко Ксения.В мероприятии "Сталь, нам нужны 
								твои победы!" приняли участие Надежда Панькив, Наталья Ищенко, Ирина 
								Воронина, Татьяна Довгая, Ольга Каленчук, а также девушка Романа Дебелко 
								Ксения.В мероприятии "Сталь, нам нужны твои победы!" приняли участие 
								Надежда Панькив, Наталья Ищенко, Ирина Воронина, Татьяна Довгая, Ольга 
								Каленчук, а также девушка Романа Дебелко Ксения.
							span.card__date 12.08.2106г.
					.news__card.card
						.card__image
							img(src=require("./img/news/news8.jpg").default, alt="photo")
						div
							a(href="article.html")
								h3.card__title Лига Европы. "Генк" ошеломил "Атлетик"
							p.card__text.
								"Маккаби" одержало первую победу в Лиге Европы. Счет открыл почти тезка 
								чемпиона мира 1930 года – Скарионе. Во втором тайме Мюрен один мяч отквитал
							span.card__date 12.08.2106г.
					.news__card.card
						.card__image
							img(src=require("./img/news/news8.jpg").default, alt="photo")
						div
							a(href="article.html")
								h3.card__title Будущие звезды. Что из себя представляет новое поколение
							p.card__text.
								Основной состав "Динамо" провально выступает в Лиге чемпионов, занимая 
								последнее место в группе с "Наполи", "Бешикташем" и "Бенфикой" после трех 
								туров. Основной состав "Динамо" провально выступает в Лиге чемпионов, 
								занимая последнее место в группе с "Наполи", "Бешикташем" и "Бенфикой" 
								после трех туров. Основной состав "Динамо" провально выступает в Лиге 
								чемпионов, занимая последнее место в группе с "Наполи", "Бешикташем" и 
								"Бенфикой" после трех туров. 
							span.card__date 12.08.2106г.
					.news__card.card
						.card__image
							img(src=require("./img/news/news9.jpg").default, alt="photo")
						div
							a(href="article.html")
								h3.card__title "Антунеш вообще в курсе, что он за "Динамо" играет?"
							p.card__text.
								Каждого главного тренера "Динамо", который работал после Валерия Васильевича 
								Лобановского, непременно сравнивали с Мэтром. А как бы отреагировал сам 
								легендарный наставник
							span.card__date 12.08.2106г.